.users__container{
    display: flex;
}
.users__container:not(last-child){
    margin-bottom: 20px;
}

.avatar {
    display: flex;
    max-width: 50px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

.avatarImage {
    width: 100%;
}

.body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.userInfo {
    display: flex;
}

.userConnect {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.userName{
    margin-right: 20px;
}

.userLocation{
    display: flex;
}

.userCity{
    margin-right: 10px;
}