.users__container {
    display: flex;
    margin: 5px;
}

.avatar {
    display: flex;
    max-width: 50px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

.avatarImage {
    width: 100%;
}

.body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.userInfo {
    display: flex;
}

.userName{
    margin-right: 20px;
}

.userConnect {
    display: flex;
    justify-content: space-between;
    width: 100%;
}