.avatar {
    max-width: 150px;
    width: 100%;
    padding: 0 20px 20px 0;
}

.profile__wrapper {
    display: flex;
}

.profile__avatar {
    margin-right: 10px;
}

.ownersAvatar__wrapper{
    display: flex;
    flex-direction: column;
}

.ownersAvatar{
    max-width: 150px;
    width: 100%;
}